<div class = 'nav-bar'>
  <ul class='tab-top' style="padding-left:0px">
    <md-button class = 'md-icon-button' ng-click = 'toggleNav()' aria-label = 'Settings'>
      <md-icon class = "mdi mdi-menu" style = 'font-size:30px;color:white'></md-icon>
    </md-button>
    <a href="#!/home" style="color: white">
      <li class = 'logos__fire__angular'>
        <img src="img/firebase.png">
        <i class = 'icon mdi mdi-plus'></i>
        <img src="img/angular.png">
      </li>
    </a>
    <li class = 'float-right'>
      <a href ='#'>
        <i class = 'icon mdi mdi-github right-logo' style="font-size:50px"></i>
      </a>
    </li>
  </ul>
</div>
